* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e2e1d5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  font-family: "Bakbak One", sans-serif;
  text-decoration: none;
  color: #1c004c;
}
a:hover {
  color: #e06837;
  transition: 0.2s linear;
}
h1 {
  font-family: "Bakbak One", sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
