* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */

@media screen and (max-width: 800px) {
  .forside_logo {
    margin: 30px;
  }
}

/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */

@media screen and (min-width: 800px) {
  .forside_logo {
    margin-top: 60px;
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 60px;
  }
}
