* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- CHAT karrusel ----- */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #1c004c;
}

button:hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}
