* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overskrift {
  text-align: center;
  font-size: 3cqw;
  background-color: #1c004c;
  color: white;
  padding: 30px;
}

.tekst {
  margin: -10px 30px 30px 30px;
}
.css {
  color: var(--tertiary);
}
.links {
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  max-width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links:hover {
  background-color: #e0673764;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  max-width: 360px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Chat karrusel */
.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  height: auto;
  border: 5px solid var(--primary);
  border-radius: 20px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #333;
}

.prev {
  left: 10px;
  color: var(--primary);
}

.next {
  right: 10px;
  color: var(--primary);
}

.next:hover {
  color: var(--tertiary);
  scale: 105%;
  transition: 0.3s;
}

.prev:hover {
  color: var(--tertiary);
  scale: 105%;
  transition: 0.3s;
}
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */
/* ------------- MOBILE ------------ */

@media screen and (max-width: 800px) {
  .tema_container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .center {
    text-align: center;
  }
  .billede {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
  }

  .menuer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    background-color: rgba(240, 248, 255, 0.285);
    padding: 20px;
    border-radius: 20px;
    margin: 30px 20px 40px 20px;
  }
}

/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */
/* ----------- DESKTOP ------------ */

@media screen and (min-width: 800px) {
  .tema_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
  }
  .tekst {
    margin-top: 60px;
  }
  .center {
    text-align: center;
  }
  .menuer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    margin: 20px 20% 20px 20%;
    background-color: rgba(240, 248, 255, 0.285);
    padding: 20px;
    border-radius: 20px;
  }
  .billede {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
}
